* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 50ch;
  margin-top: 0.8em;
  padding: 3em 0;
}

input {
  padding-left: 1rem;
}
/* ****************** VA - div ******************* */

.main-label {
  /* border: 1px solid grey; */
  /* width: 35%; */
}
.va-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.va-form {
  width: 85%;
  margin-top: 0.5em;
}
.va-result {
  display: none;
  margin-bottom: 0.8em;
  padding: 0;
  height: 50px;
  text-align: center;
  border: 2px solid rgb(15, 182, 15);
}
.va-div > h1 {
  width: 80%;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7em;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clear,
input[type="submit"] {
  width: 90%;
  outline: none;
  background-color: white;
  border: 2px solid #919191;
  border-radius: 1em;
  padding: 0.1em 0;
  margin-bottom: 0.6em;

  /* color: white; */
}
.clear {
  width: 60%;
}
.clear:focus,
.clear-2:focus {
  outline: none;
}

h2.second {
  margin-top: 0.8em;
}
.clear-2 {
  width: 90%;
  outline: none;
  background-color: white;
  border: 2px solid #919191;
  border-radius: 1em;
  padding: 0.1em 0;
  margin-bottom: 0.6em;
  width: 60%;
}

.result-2 {
  display: none;
  margin-bottom: 0.8em;
  padding: 0;
  height: 50px;
  text-align: center;
  border: 2px solid rgb(15, 182, 15);
}
.bu-form {
  width: 85%;
  margin-top: 0.5em;
}
